body{
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}

thead td {
    background-color: black;
    color: white;
    padding: 10px;
    min-width: 50px;
}

tbody tr td {
    background-color: blanchedalmond;
    color: grey;
}

tbody tr:nth-child(even) td {
    background-color: azure;
    color: grey;
}

.esquerda {
    float: left;
    margin: 50px;
}

label {
    padding-top: 10px;
    min-width: 100px;
    display: block;
    font-size: 20px;
}

input{
    padding-bottom: 10px;
}

.myButton {
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px #3dc21b;
    background-color: #44c767;
    border-radius: 28px;
    border: 2px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.myButton:hover {
    background-color: #5cbf2a;
}

.myButton:active {
    position: relative;
    top: 1px;
}

#log {
    clear: both;
    display: block;
}